name: Pull Request Worfklow

on: [ pull_request ]

concurrency:
  group: ${{ github.head_ref || github.ref }}
  cancel-in-progress: true

jobs:
  check:
    timeout-minutes: 15
    runs-on: ubuntu-latest
    steps:
      - uses: amannn/action-semantic-pull-request@v3.4.0
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      - uses: actions/checkout@v2
        with:
          fetch-depth: 0

      - name: check for changes in folders
        run: |
          echo "changes_starport_template=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- starport_template && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "changes_transaction_signing_gateway=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/transaction_signing_gateway && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "changes_cosmos_lint=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/cosmos_lint && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "changes_cosmos_ui_components=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/cosmos_ui_components && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "changes_cosmos_utils=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/cosmos_utils && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "changes_cosmos_auth=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/cosmos_auth && echo "false" || echo "true")" >> $GITHUB_ENV
          echo "cosmos_node_client=$(git diff --quiet HEAD origin/$GITHUB_BASE_REF -- packages/cosmos_node_client && echo "false" || echo "true")" >> $GITHUB_ENV

      - uses: kuhnroyal/flutter-fvm-config-action@v1

      - uses: subosito/flutter-action@v1
        with:
          flutter-version: ${{ env.FLUTTER_VERSION }}
          channel: ${{ env.FLUTTER_CHANNEL }}
      
      ###########################################################################################
      ## COSMOS_LINT
      ###########################################################################################

      - name: cosmos_lint - pub get
        working-directory: packages/cosmos_lint
        if: env.changes_cosmos_lint == 'true'
        run: flutter pub get

      - name: cosmos_lint - dart analysis
        working-directory: packages/cosmos_lint
        if: env.changes_cosmos_lint == 'true'
        run: flutter analyze

      ###########################################################################################
      ## TRANSACTION_SIGNING_GATEWAY
      ###########################################################################################

      - name: transaction_signing_gateway - pub get
        working-directory: packages/transaction_signing_gateway
        if: env.changes_transaction_signing_gateway == 'true'
        run: flutter pub get

      - name: transaction_signing_gateway - check codestyle
        working-directory: packages/transaction_signing_gateway
        if: env.changes_transaction_signing_gateway == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 --set-exit-if-changed {} +;

      - name: transaction_signing_gateway - dart analysis
        working-directory: packages/transaction_signing_gateway
        if: env.changes_transaction_signing_gateway == 'true'
        run: flutter analyze

      - name: transaction_signing_gateway - tests
        working-directory: packages/transaction_signing_gateway
        if: env.changes_transaction_signing_gateway == 'true'
        run: flutter test
        
      ###########################################################################################
      ## COSMOS_NODE_CLIENT
      ###########################################################################################

      - name: cosmos_node_client - pub get
        working-directory: packages/cosmos_node_client
        if: env.changes_transaction_signing_gateway == 'true'
        run: flutter pub get

      - name: cosmos_node_client - check codestyle
        working-directory: packages/cosmos_node_client
        if: env.cosmos_node_client == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 --set-exit-if-changed {} +;

      - name: cosmos_node_client - dart analysis
        working-directory: packages/cosmos_node_client
        if: env.cosmos_node_client == 'true'
        run: flutter analyze

      - name: cosmos_node_client - tests
        working-directory: packages/cosmos_node_client
        if: env.cosmos_node_client == 'true'
        run: flutter test

      ###########################################################################################
      ## COSMOS_UI_COMPONENTS
      ###########################################################################################

      - name: cosmos_ui_components - pub get
        working-directory: packages/cosmos_ui_components
        if: env.changes_cosmos_ui_components == 'true'
        run: flutter pub get

      - name: cosmos_ui_components - check codestyle
        working-directory: packages/cosmos_ui_components
        if: env.changes_cosmos_ui_components == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 --set-exit-if-changed {} +;

      - name: cosmos_ui_components - dart analysis
        working-directory: packages/cosmos_ui_components
        if: env.changes_cosmos_ui_components == 'true'
        run: flutter analyze

      - name: cosmos_ui_components - tests
        working-directory: packages/cosmos_ui_components
        if: env.changes_cosmos_ui_components == 'true'
        run: flutter test

      ###########################################################################################
      ## COSMOS_UTILS
      ###########################################################################################

      - name: cosmos_utils - pub get
        working-directory: packages/cosmos_utils
        if: env.changes_cosmos_utils == 'true'
        run: flutter pub get

      - name: cosmos_utils - check codestyle
        working-directory: packages/cosmos_utils
        if: env.changes_cosmos_utils == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 {} +

      - name: cosmos_utils - dart analysis
        working-directory: packages/cosmos_utils
        if: env.changes_cosmos_utils == 'true'
        run: flutter analyze

      - name: cosmos_utils - tests
        working-directory: packages/cosmos_utils
        if: env.changes_cosmos_utils == 'true'
        run: flutter test


      ###########################################################################################
      ## COSMOS_AUTH
      ###########################################################################################

      - name: cosmos_auth - pub get
        working-directory: packages/cosmos_auth
        if: env.changes_cosmos_auth == 'true'
        run: flutter pub get

      - name: cosmos_auth - check codestyle
        working-directory: packages/cosmos_auth
        if: env.changes_cosmos_auth == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 {} +

      - name: cosmos_auth - dart analysis
        working-directory: packages/cosmos_auth
        if: env.changes_cosmos_auth == 'true'
        run: flutter analyze

      - name: cosmos_auth - tests
        working-directory: packages/cosmos_auth
        if: env.changes_cosmos_auth == 'true'
        run: flutter test

      ###########################################################################################
      ## STARPORT_TEMPLATE
      ###########################################################################################

      - name: starport_template - pub get
        working-directory: starport_template
        if: env.changes_starport_template == 'true'
        run: flutter pub get

      - name: starport_template - check codestyle
        working-directory: starport_template
        if: env.changes_starport_template == 'true'
        run: find lib test -name "*.dart" -not -name "*.g.dart" -not -name "*.freezed.dart" -not -name "*.gen.dart" -exec dart format -l 120 --set-exit-if-changed {} +;

      - name: starport_template - dart analysis
        working-directory: starport_template
        if: env.changes_starport_template == 'true'
        run: flutter analyze

      - name: starport_template - tests
        working-directory: starport_template
        if: env.changes_starport_template == 'true'
        run: flutter test

